*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    max-width: 1100px;
    padding: 0 1rem;
    margin: 1rem auto;
}

.card-grid {
    display: grid;
    max-width: 1100px;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid lightgray;
    padding: 1rem 1rem;
}

.card h2,
.card h3 {
    margin: 0;
}