/* Fonts */
/* Palette */
/* Sidebar within post.njk template */
.post-sidebar {
  max-width: 20ch;
  width: 100%;
  grid-column: 1;
  height: 100vh;
  grid-row: 2;
  margin: 0 auto 0 0;
}
.post-sidebar .toc-links {
  margin-top: 0.5rem;
}
.post-sidebar ul {
  list-style-type: none;
  padding-left: 0;
}
.post-sidebar ul li {
  margin: 3px 0;
}
.post-sidebar ul li a {
  display: block;
  color: #333;
  padding: 3px 5px;
  line-height: 1.4;
  border-radius: 2px;
}
.post-sidebar ul li a:hover {
  color: #1836AF;
  text-decoration: none;
  background: #eee;
}
.post-sidebar ul li a.section-active {
  color: #f06;
  background: #eee;
}

.toc-heading {
  font-size: 1.25em;
  padding-bottom: 5px;
  color: #333;
  margin: 0;
}

.around-web {
  margin-top: 0.75rem;
}
.around-web ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.around-web ul li p {
  padding: 0;
  margin: 0.3rem 0;
}
.around-web ul li a {
  color: #333;
}
.around-web ul li a:hover {
  color: #1836AF;
  text-decoration: underline;
}

#main-contact {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 3rem auto 2rem auto;
  padding-bottom: 1.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#main-contact .right-sidebar {
  margin-left: auto;
  margin-right: 0;
  margin-top: 5rem;
  max-width: 25ch;
  padding-right: 0;
  grid-row: 1;
  grid-column: 5/7;
}

.contact-form {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  max-width: 60ch;
}
.contact-form label.form-label {
  margin-top: 0.5rem;
}
.contact-form input, .contact-form textarea {
  margin: 0.2rem 0;
  border: 1px solid lightgray;
  padding: 0.5rem;
  border-radius: 0.15rem;
  font-size: 16px;
}
.contact-form input {
  height: 2.75rem;
}
.contact-form textarea {
  resize: vertical;
  min-height: 9rem;
}
.contact-form button {
  margin-top: 1.5rem;
}

.contact-detail {
  margin-bottom: 2.75rem;
}

.reach-me.button {
  display: block;
  margin: 0;
  width: fit-content;
  width: -moz-fit-content;
  text-decoration: none;
  font-size: 1rem;
  background: inherit;
  color: inherit;
  border-radius: 4px;
  border: 2px solid #272643;
  border: 2px solid #212a2f;
  padding: 0.825rem 1.5rem;
  padding: 0.7rem 1.5rem;
  white-space: nowrap;
  font-weight: 600;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.reach-me:hover {
  box-shadow: 0px -1px 0px -1px rgba(0, 0, 0, 0.75);
  background: #212421;
  background: #2f312f;
  background: #212a2f;
  border: 2px solid transparent;
  color: inherit;
  cursor: pointer;
  color: #fff;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.reach-me.submit-contact {
  background: #1b6ee2;
  background: #1a6bdd;
  padding: 0.95rem 1.35rem;
  padding: 0.8rem 1.35rem;
  border: none;
  color: #fff;
  margin-top: 1.35rem;
  font-weight: 600;
  max-width: fit-content;
  max-width: -moz-fit-content;
}
.reach-me.submit-contact:hover {
  border: none;
  background: #1764d1;
}

.contact-container {
  max-width: 85ch;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 4rem;
  grid-column: 1/5;
}

.contact {
  background: #202d3d;
  padding: 1rem 1.25rem;
  background: inherit;
  margin: 2rem auto;
  max-width: 1200px;
}

.contact-wrapper {
  max-width: 80ch;
  border-radius: 8px;
  padding: 1.75rem 1.5rem;
  box-shadow: 2px 2px 0 1px #222;
  border: 2px solid #222;
  margin: 2.5rem auto 1rem;
}
.contact-wrapper .socials-list {
  margin-top: 2.5rem;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.contact-wrapper .socials-list li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-wrapper .socials-list li:nth-child(n) {
  margin-right: 1rem;
}
.contact-wrapper .socials-list li a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.3rem;
  font-weight: 500;
}
.contact-wrapper .socials-list li a img {
  margin-right: 0.5rem;
  max-width: 100%;
  height: auto;
}

.art-main {
  padding: 0 1.25rem;
}

main .art {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 0.5rem;
  margin: 3rem auto 1rem auto;
}
main .art img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
main .art .art-details {
  text-align: left;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  height: 25rem;
  width: 100%;
}
main .art .art-details a {
  height: 100%;
}
main .art .art-details a:hover {
  -webkit-filter: contrast(93%);
  filter: contrast(93%);
}
main .art .art-details .drawing-info {
  padding-left: 0.2rem;
}

.featured-art .feat-art-wrapper {
  padding: 0.5rem 0;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  max-width: 1200px;
}
.featured-art .feat-art-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, minmax(2rem, auto));
  margin: 2.5rem auto 0 auto;
  gap: 10px;
}
.featured-art .feat-art-list li {
  transition: 200ms ease-in-out;
}
.featured-art .feat-art-list li a img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  height: 100%;
  max-width: 100%;
}
.featured-art .feat-art-list li:hover {
  -webkit-filter: contrast(93%);
  filter: contrast(93%);
}
.featured-art .feat-art-list li:nth-child(1) {
  grid-column: 1/5;
  grid-row: 1;
}
.featured-art .feat-art-list li:nth-child(2) {
  grid-row: 1/7;
  grid-column: 5/15;
}
.featured-art .feat-art-list li:nth-child(3) {
  grid-column: 1/3;
  grid-row: 2/7;
}
.featured-art .feat-art-list li:nth-child(4) {
  grid-column: 3/5;
  grid-row: 2/7;
}

/* FOOTER */
.footer-main {
  margin-top: auto;
  background: inherit;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1rem 1.5rem;
  max-width: 1200px;
  margin: 0.75em auto 1.75rem auto;
  width: 100%;
}
.footer-main a:hover {
  color: #1836AF;
}
.footer-main span {
  font-size: 1.1rem;
  font-size: clamp(1rem,4vw,1.15rem);
  font-weight: 700;
}
.footer-main div ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  position: relative;
}
.footer-main div ul li {
  margin: 0 0.5rem;
}
.footer-main div ul li:first-child {
  margin-left: 0;
}
.footer-main div ul li a {
  color: #333;
}
.footer-main div ul li a:hover {
  color: #1836AF;
  text-decoration: underline;
}

.ft-left {
  grid-column: 1;
}

.ft-right {
  grid-column: 2;
  margin-left: auto;
}

.footer-content {
  display: flex;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.footer-content .footer-flex {
  margin-top: 1rem;
}
.footer-content .footer-flex ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}
.footer-content .footer-flex a {
  color: #333;
  text-decoration: none;
  margin-right: 0.9rem;
  padding-bottom: 0.25rem;
}
.footer-content .footer-flex a:hover {
  text-decoration: underline;
}
.footer-content .footer-flex .pad-left {
  padding-left: 0.5rem;
}
.footer-content .footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links .social-link {
  margin-right: 1.35rem;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  grid-column: 1/3;
}
.footer-info .footer-flex p {
  color: #333;
}
.footer-info .footer-flex ul li a:focus, .footer-info .footer-flex ul li a:hover {
  text-decoration: underline;
}
.footer-info .back-top {
  text-decoration: underline;
}
.footer-info .back-top:hover {
  text-decoration: none;
}
.footer-info a {
  color: #212121;
  text-decoration: none;
}
.footer-info a:hover {
  text-decoration: underline;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer-links .social-link img {
  width: 23px;
  height: 23px;
}

main {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  /* Address this - TODO */
}
main.a11y-page {
  max-width: 85ch;
  margin: 0 auto 6rem auto;
  padding: 0 1.5rem;
}
main:focus {
  outline: none;
}
main h1, main h2, main h3, main h4, main h5 {
  margin: 0 0 1rem;
}
main p {
  margin: 0 0 24px;
}
main blockquote {
  margin-bottom: 24px;
}

#main {
  margin-bottom: 3rem;
  overflow: auto;
}

.main-container .message-me {
  background: inherit;
  border: 0.124rem solid #333333;
  padding: 0.7rem 0.8rem;
  border-radius: 0.1rem;
  color: #212121;
  text-decoration: none;
  margin: 2rem auto;
  font-size: 1rem;
  transition: 100ms linear;
}
.main-container .message-me:hover {
  background: #384047;
  background: #3d3d3d;
  border: 0.125rem solid #3d3d3d;
  color: #fff;
  text-decoration: none;
}
.main-container .projects .projects-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
}
.main-container .projects .project-grid {
  display: grid;
  padding: 1rem 0;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1.5rem;
  overflow: hidden;
  list-style: none;
}
.main-container .projects .project-grid .project-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid lightgray;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  transform-origin: 50% 50%;
  background: #fff;
}
.main-container .projects .project-grid .project-tile .project-details {
  padding: 1rem 1rem 0.75rem 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-container .projects .project-grid .project-tile .project-details .project-link {
  display: block;
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.main-container .projects .project-grid .project-tile .project-details .project-link a {
  padding-left: 1.5rem;
}
.main-container .projects .project-grid .project-tile .project-details h3 {
  margin-top: 0rem;
  margin-bottom: 0;
}
.main-container .projects .project-grid .project-tile .project-details h3 a {
  text-decoration: none;
}
.main-container .projects .project-grid .project-tile .project-details h3 a:hover {
  text-decoration: underline;
  color: #1836AF;
}
.main-container .projects .project-grid .project-tile .project-details .project-desc {
  margin-bottom: 1.75rem;
}
.main-container .projects .project-grid .project-tile .project-details .links {
  margin-top: auto;
  margin-bottom: 1rem;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-container .projects .project-grid .project-tile .project-details .links li .tile-link {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin-right: 0.65rem;
  border: 0.05rem solid lightgray;
  border: 0.05rem solid #ccc;
  padding: 0.5rem;
  border-radius: 0.15rem;
  border-radius: 2px;
  color: #333;
  background: inherit;
}
.main-container .projects .project-grid .project-tile .project-details .links li .tile-link:hover, .main-container .projects .project-grid .project-tile .project-details .links li .tile-link:focus {
  border: 0.05rem solid transparent;
  background: #3b3b3b;
  background: #212a2f;
  background: #2f3436;
  color: #fff;
  cursor: pointer;
}
.main-container .main-content {
  max-width: 1200px;
}
.main-container .main-content .filter-by-tag {
  margin-top: 3rem;
}
.main-container .main-content table th {
  background: #eee;
}
.main-container .main-content .post {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0.6rem 0;
}
.main-container .main-content .clear-filter-btn {
  margin-left: 2rem;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  font-size: 0.95rem;
  background: inherit;
  color: #222;
  border: 1px solid #363c3f;
}
.main-container .main-content .clear-filter-btn:hover {
  background: #3b3b3b;
  color: #fff;
  text-decoration: none;
}
.main-container .main-content article {
  max-width: 85ch;
}
.main-container .main-content .about-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .main-content .about-banner .about-headshot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  border-radius: 50%;
  max-width: 100%;
  transform-origin: 60% 50%;
  height: 200px;
  width: 200px;
}
.main-container .main-content .writing-about {
  padding-bottom: 2rem;
}
.main-container .main-content .my-posts {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.main-container .main-content .my-posts h2 a {
  text-decoration: underline;
}
.main-container .main-content .my-posts h2 a:hover {
  text-decoration: none;
}
.main-container .home-banner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-right: 1rem;
}
.main-container .home-banner p {
  font-size: 1.35rem;
  font-size: clamp(1.35rem, 3vw, 1.38rem);
  line-height: 1.5;
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
  color: #333;
  max-width: 50ch;
}
.main-container .home-banner h1 {
  font-size: 2.7em;
  font-size: clamp(2.7em, 10vw, 3.5em);
}
.main-container .home-banner h1, .main-container .home-banner h2 {
  margin: 0;
}
.main-container .home-banner .banner-links a {
  text-decoration: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.main-container .wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 4rem auto 1rem;
  max-width: 80ch;
  padding: 0 1.5rem;
}
.main-container .wrap .search-result a {
  color: inherit;
}
.main-container .wrap .search-result a:hover {
  color: #fff;
}
.main-container .wrap .result, .main-container .wrap .main-content {
  grid-column: 1/7;
}
.main-container .wrap .banner-container {
  flex-direction: column;
  grid-column: 1/7;
  align-items: flex-start;
  margin: 0;
}
.main-container .banner-container {
  max-width: 1200px;
  padding-left: 0;
  padding-right: 0;
  margin: 3rem auto 0 auto;
}
.main-container .banner-container:not(.search-box) h1 {
  margin-bottom: 1rem;
}
.main-container .banner-container .page-banner h2 {
  text-align: left;
  padding-bottom: 0.5rem;
  margin: 0;
}
.main-container .welcome-container {
  padding: 2.5rem 0 3.75rem;
  background: inherit;
  max-width: 70ch;
  max-width: 60ch;
  border-radius: 0.5rem;
}
.main-container .hero-wrap {
  margin: 1rem auto;
}

.clear-filter-btn {
  margin-left: 2rem;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  font-size: 0.95rem;
  border-radius: 2px;
  background: inherit;
  color: #222;
  border: 1px solid #363c3f;
}
.clear-filter-btn:hover {
  background: #3b3b3b;
  color: #fff;
  text-decoration: none;
}

.nav-wrapper {
  padding: 0.75rem 1.5rem 0.5rem;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
  width: 100%;
  z-index: 9999;
  background: #fbfbfb;
}
.nav-wrapper .nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.6rem auto 0 auto;
  padding: 6px 1.5rem 5px;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 1200px;
}
.nav-wrapper .nav-menu li.stl {
  margin-right: auto;
}
.nav-wrapper .nav-menu li:last-child {
  position: relative;
  right: 0;
  margin-left: auto;
  height: 29px;
}
.nav-wrapper .nav-menu li a {
  color: #212121;
  padding: 0.5rem 0;
  margin: 0 1.7rem;
  font-size: 1.0625rem;
  text-decoration: none;
  font-weight: 500;
}
.nav-wrapper .nav-menu li a:first-child {
  margin-left: 0;
}
.nav-wrapper .nav-menu li a:hover {
  text-decoration: underline;
}

.top-nav .nav-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 1.5rem;
  margin: 2rem auto 1.25rem auto;
  width: 100%;
  max-width: 1200px;
  background: #fbfbfb;
  position: relative;
}
.top-nav .nav-home .reach-out {
  background: #212121;
  color: #fff;
  padding: 11px 10px;
  border-radius: 3px;
  font-size: 1rem;
  white-space: nowrap;
}
.top-nav .nav-home .reach-out:hover {
  background: #111;
  text-decoration: none;
}
.top-nav .nav-home .home {
  font-weight: 500;
  font-size: 1.15rem;
  font-size: 1.2rem;
  color: #212121;
  text-decoration: none;
}
.top-nav .nav-home span {
  background: inherit;
  border: 0.12rem solid #212121;
  color: #212121;
  border-radius: 0;
  padding: 0.5rem;
  margin-right: 0.75rem;
  font-weight: 700;
  font-size: 1rem;
}

.pop-over {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.6rem 1rem;
  text-align: center;
  background: #181717;
}
.pop-over .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop-over .content a {
  color: #fff;
  font-weight: 800;
  font-size: 1.04rem;
  margin-right: 1rem;
  margin-left: auto;
}
.pop-over .close {
  margin-left: auto;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 800;
  background: inherit;
}
.pop-over .close:hover {
  color: #eee;
  cursor: pointer;
}

.hide {
  display: none;
}

main .post .date {
  margin: 0 0 0.75rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.03rem;
}
main .post h3 {
  margin-bottom: 0.5rem;
}

#post {
  max-width: 80ch;
  margin: 0 auto 0 2.5rem;
  grid-column: 2;
}
#post a.code-link:hover {
  text-decoration: none;
}
#post a.code-link:hover code {
  color: #1836AF;
  text-decoration: none;
}
#post .demo-img {
  margin: 1.5rem 0;
}
#post ol li, #post ul li {
  margin: 8px 0;
}
#post h1 {
  color: #222;
}
#post h2, #post h3, #post h4 {
  margin: 1.6rem 0 1.4rem 0;
  margin: 30px 0 28px 0;
}
#post .h2-5 {
  font-size: 1.75rem;
  font-size: clamp(1.6rem,5vw,1.75rem);
}
#post p, #post ul li,
#post ol li, #post summary,
#post pre code, #post .related-posts li a,
#post .share .twitter-share, #post .related, #post .share {
  font-size: 1.175rem;
  line-height: 1.8;
}
#post .date {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.03rem;
  margin: 1rem 0;
}
#post h2:hover .direct-link {
  color: #444;
  cursor: pointer;
}
#post h3:hover .direct-link {
  color: #444;
  cursor: pointer;
}
#post h4:hover .direct-link {
  color: #444;
  cursor: pointer;
}
#post .post-heading .direct-link {
  text-decoration: none;
  color: transparent;
  vertical-align: top;
  margin-left: 0.5rem;
}
#post .post-heading .direct-link:hover {
  color: #333;
}
#post .post-heading .direct-link:focus {
  color: #444;
}

#post-title {
  margin-top: 10px;
  font-size: clamp(2.2rem, 7vw, 3.2rem);
  line-height: 1.3;
  letter-spacing: -0.5px;
  color: #212121;
  font-family: system, -apple-system, "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.post-header {
  padding-top: 1.5rem;
  margin-top: 1rem;
  grid-column: 2;
}

.post-wrap {
  max-width: 80ch;
  margin: 0 auto 0 2.5rem;
}
.post-wrap .date {
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}

.recent-posts {
  margin: 2.5rem auto 2rem;
  padding: 0.25rem 1.5rem;
  grid-column: 1/5;
  grid-row: 1/7;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(5rem, 1fr);
  gap: 0.75rem;
  max-width: 1200px;
  margin: 0 auto;
}
.posts-container .read-more .see-more-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
.posts-container h2 {
  margin-bottom: 0;
}
.posts-container .right-sidebar {
  grid-column: 5/7;
  grid-row: 1/7;
}
.posts-container .post h3 a {
  text-decoration: underline;
}
.posts-container .post h3 a:hover {
  text-decoration: none;
}
.posts-container .post .preview {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}
.posts-container .post {
  max-width: 85ch;
  margin: 2rem 0 3.25rem;
}
.posts-container .post:last-child {
  margin-bottom: 2rem;
}

.right-sidebar {
  padding: 0.25rem;
  grid-column: 5/7;
  margin: 4.5rem 1rem 1rem auto;
  max-width: 25ch;
}
.right-sidebar ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0.75rem;
}
.right-sidebar ul li {
  font-size: 0.94rem;
  margin: 0.2rem 0;
  line-height: 1.5;
}
.right-sidebar ul li a:hover {
  text-decoration: underline;
}
.right-sidebar h4 {
  margin-top: 1.25rem;
  margin-bottom: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid lightgray;
}
.right-sidebar .side-search {
  padding: 0.55rem 0.5rem;
  padding-left: 2.1rem;
  border: 1px solid lightgray;
  margin-bottom: 0;
  border-radius: 0.25rem;
  font-size: 14px;
  width: 100%;
  background-image: url("/images/loupe.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: 8px 11px;
}

#post li p {
  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
}

#post-content .main-content {
  display: grid;
  grid-template-columns: 18% 82%;
  gap: 0px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}
#post-content .main-content .post .preview {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.share strong {
  display: block;
  font-size: 1.35rem;
  margin-bottom: 5px;
}

.related strong {
  display: block;
  font-size: 1.35rem;
  margin-bottom: 5px;
}
.related .related-posts {
  margin-top: 0;
  padding-top: 8px;
  padding-left: 0;
  list-style: none;
  border-top: 1px solid lightgray;
}
.related .related-posts li {
  line-height: 1.25;
  margin: 1rem 0;
}
.related .related-posts li:first-child {
  margin-top: 0.5rem;
}
.related .related-posts li a:first-child {
  margin-top: 0;
}

.share,
.related {
  max-width: 56ch;
  width: 100%;
  grid-column: 2;
  margin: 1.5rem 0 auto 2.5rem;
}

.share .strong-share {
  padding-bottom: 3px;
  border-bottom: 1px solid lightgray;
  display: block;
}
.share .twitter-share {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 1.1rem;
}
.share .twitter-share svg {
  width: 23px;
  height: 23px;
}
.share .twitter-share:hover span {
  color: var(--link-blue-accessible);
}
.share .twitter-share span {
  padding-left: 0.5rem;
  color: #333;
}

.related ul li a {
  font-size: 1.1rem;
}

.prev-next {
  width: 100%;
  max-width: 80ch;
  display: flex;
  flex-wrap: wrap;
  grid-column: 2;
  margin: 3rem auto 3rem 2.5rem;
}
.prev-next a {
  border-top: 0.45rem solid #212a2f;
  border: 2px solid #212a2f;
  border-radius: 2px;
  padding: 1rem 1.25rem;
  max-width: 29ch;
}
.prev-next a:hover, .prev-next a:focus {
  background: #212a2f;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.prev-next a:hover h3, .prev-next a:focus h3 {
  color: #fff;
  border-bottom: 2px dashed #fff;
}
.prev-next a:hover span, .prev-next a:focus span {
  color: #fff;
}
.prev-next a span {
  font-size: 1.1rem;
  color: #353535;
}
.prev-next h3 {
  margin-top: 0.25rem;
  padding-bottom: 0.35rem;
  font-size: 1.35rem;
  color: #212121;
  color: #212a2f;
  border-bottom: 2px dashed #212121;
}
.prev-next .next-post {
  margin-left: auto;
}

/* Search bar */
.search-bar {
  font-size: 16px;
}

.main-container .wrap .category-small {
  font-size: 1rem;
  margin-bottom: 0.4rem;
  grid-column: 1/3;
}
.main-container .wrap .category-small a {
  color: #333;
}
.main-container .wrap .search-box {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2.5rem;
}

#search {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 3.25rem;
  width: 100%;
  margin-left: -0.1rem;
  background: #f5f5fa;
  background: white;
  border-left: none;
  border: 0.1rem solid lightgray;
  border-radius: 0.1rem;
}

.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-top: 0.1rem solid lightgray;
  border-bottom: 0.1rem solid lightgray;
  grid-column: 1/7;
}
.search-result p {
  margin: 0;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

#search,
.contact-form input,
.contact-form textarea {
  -webkit-appearance: none;
}

.search-style,
.search-page-style {
  background: #f0f0f0;
  border-radius: 0.1rem;
  border: 0.05rem solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-page-style {
  padding: 0.75rem;
}

.search-style:hover {
  background: #ebebeb;
}

#search_svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #000;
}

.twitter-block {
  background: #2179B0;
  background: #1273E2;
  background: #0F73E6;
}
.twitter-block:hover {
  background: #167bee;
}

.github-block {
  background: #2e2e2e;
}
.github-block:hover {
  background: #212121;
}

.linkedin-block {
  background: #1885c9;
  background: #106cd4;
}
.linkedin-block:hover {
  background: #1378eb;
  background: #0d67ce;
}

.social-icons ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
}
.social-icons ul li:first-child {
  margin-right: 10px;
}
.social-icons ul li:not(:first-child) {
  margin: 0 10px;
}
.social-icons img {
  width: 26px;
  height: 26px;
}

table {
  border-collapse: collapse;
  border: 1px solid lightgray;
  overflow: scroll;
  width: 100%;
  max-width: 85ch;
}

.main-content table th {
  background: #eee;
  background: #ddd;
}
.main-content table th, .main-content table td {
  padding: 0.5rem;
  border: 1px solid lightgray;
}

.toc {
  position: relative;
}
.toc .show-toc {
  display: block;
  clip: auto;
  clip-path: none;
  white-space: pre-wrap;
  width: auto;
  height: auto;
  position: static;
}
.toc .unfold-toc {
  display: none;
  font-size: 1.9em;
  background: #fff;
  padding: 0;
  color: #333;
  font-weight: 500;
  height: auto;
  width: auto;
  background: inherit;
  position: absolute;
  right: 0;
  bottom: -5px;
  border: none;
  will-change: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
.toc .unfold-toc:hover {
  cursor: pointer;
}

*::before, *::after {
  box-sizing: border-box;
}

/* Screen reader only */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html, body {
  font: normal normal normal 1rem/1.6 -apple-system, arial, "EB Garamond", "Helvetica Neue", Helvetica, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helevetica, Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

body {
  background: #fcfcfc;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

p {
  color: #212121;
  font-size: 1.175rem;
  font-weight: 400;
  line-height: 1.6;
}

details {
  margin-bottom: 24px;
}

summary {
  margin-bottom: 12px;
}

code {
  font-family: "Consolas", monospace, "Source Code Pro", sans-serif;
  font-size: 95%;
  font-weight: 400;
  white-space: pre-wrap;
  color: #212121;
  padding: 4px 4px 2px 4px;
  border-radius: 3px;
  margin: 0 0.1rem;
  background: #eee;
}

a {
  color: #2540AD;
  text-decoration: none;
}
a:focus {
  outline-offset: 0.1rem;
}
a:hover {
  cursor: pointer;
  color: #1836AF;
  text-decoration: underline;
}
a code {
  text-decoration: underline;
  text-decoration-color: #2540AD;
}

pre {
  word-wrap: normal;
  background: #eeeded;
  font-family: "Consolas", monospace, "Source Code Pro", sans-serif;
  overflow-x: auto;
  padding: 0.75rem;
  font-size: 1.0625rem;
}
pre code {
  overflow-x: scroll;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  border: none;
  background: #eee;
}

blockquote {
  border-left: 0.35rem solid #f06;
  background: #f1f1f1;
  padding: 0.2rem 1rem;
}
blockquote p {
  margin: 0.8rem 0;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: -apple-system, "Open Sans", system, "Source Sans Pro", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 700;
  color: #222;
  margin: 0;
}

h1, .h1 {
  font-size: 3rem;
  font-size: clamp(1.75rem, 10vw, 3.25rem);
  margin-bottom: 0;
  margin-top: 0;
}

h2, .h2 {
  font-size: 2rem;
  font-size: clamp(2rem, 7vw, 2.2rem);
  margin-bottom: 0;
}

.h2-5 {
  font-size: 1.75rem;
  font-size: clamp(1.5rem, 5vw, 1.6rem);
}

h3, .h3 {
  font-size: 1.75rem;
  font-size: clamp(1.35rem, 5vw, 1.55rem);
  margin-bottom: 0.5rem;
}

.skip-link {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-10rem);
  transition: transform 0.3s ease-in-out;
  padding: 0.5rem;
  background: white;
  color: #212121;
  z-index: 999;
}
.skip-link:focus {
  transform: translateY(0);
}

.cube-wrapper {
  margin-left: auto;
}

/* ya, you read this right */
.four-oh-four {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1050px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100vh;
  background: #26292b;
  background: #fafafa;
  color: #212121;
}
.four-oh-four h1, .four-oh-four h2, .four-oh-four h3, .four-oh-four h4, .four-oh-four p {
  color: #212121;
}
.four-oh-four ul li {
  margin: 0.5rem 0;
}

button:focus {
  outline-offset: 0.1rem;
}

input:focus {
  outline-offset: 0.1rem;
}

textarea:focus {
  outline-offset: 0.1rem;
}

.ffr-content {
  max-width: 80ch;
  margin: 2rem auto;
}

.hero-section {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  border-radius: 0;
  padding: 0 1.5rem;
  overflow: hidden;
  max-width: 1200px;
}

.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-headshot {
  display: block;
  max-width: 220px;
  margin: 5rem auto;
  border-radius: 50%;
}

.about-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap .tags-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin: 0.5rem 0 1rem 0;
  grid-column: 1/7;
}
.wrap .tags-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrap .tags-list li .post-label {
  margin: 0.75rem 0;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid lightgray;
  border: 0.08rem solid #aaaaaa;
  border: 1px solid #666;
  color: #212121;
}
.wrap .tags-list li .post-label:hover {
  border: 0.08rem solid transparent;
  border: 1px solid transparent;
  text-decoration: none;
  background: #363c3f;
  background: #363c3f;
  background: #212a2f;
  color: #fff;
}

.error pre[class*=language] code {
  background: #AF1218;
  padding: 6px 8px;
}

.email-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
}

#main-writing {
  margin-bottom: 4rem;
}

#main-about,
#main-art {
  max-width: 1200px;
  margin: 0 auto 5rem auto;
  overflow: hidden;
}

#main-about {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-left: 1.5rem;
}
#main-about .right-sidebar {
  grid-column: 5/7;
  margin-left: auto;
  margin-top: 0;
  grid-row: 2;
  max-width: 25ch;
  padding-right: 1rem;
}
#main-about .about-header {
  margin-left: 0;
  margin-right: 0;
}
#main-about header {
  grid-column: 1/7;
  grid-row: 1;
  text-align: left;
}
#main-about section {
  grid-column: 1/5;
  grid-row: 2;
  max-width: 90ch;
  margin-left: 0;
}

.splat {
  background: #252a41;
  background: #111522;
}

.tt {
  padding: 0.75rem 1rem;
  color: #fff;
  background: inherit;
  border: 0.1rem solid #eee;
}

.see-more:hover {
  text-decoration: none !important;
}

.filename-title {
  font-size: 14px;
}
.filename-title span {
  color: #333;
}

.filter-msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0.5rem 0 2rem;
  border-top: 0.1rem solid lightgray;
  border-bottom: 0.1rem solid lightgray;
}

/* Replace this */
.bar {
  border-top: 0.3rem solid lightgray;
}

.copyright {
  font-size: 1rem;
  margin-right: 3.5rem;
  text-align: right;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1.1rem;
}
.column .links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.column .links li {
  padding: 0.4rem 0rem;
}
.column .links li a {
  color: #212121;
  margin-right: 0.9rem;
}
.column .ft-nav {
  color: #302f2f;
  font-size: clamp(1rem, 4vw, 1.15rem);
  font-weight: 700;
  margin: 0;
}
.column:first-child {
  margin-right: 1.5rem;
}

.share, .related {
  max-width: 80ch;
}

.demo-img {
  margin: 0;
  border: 0.05rem solid lightgray;
  border-radius: 0.2rem;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.support {
  position: relative;
}

.hero {
  background: #eee;
  margin: 0 auto;
  width: auto;
}
.hero a, .hero div {
  color: #333;
}
.hero div {
  font-size: 0.85rem;
  max-width: 1150px;
  margin: 0.9rem auto;
  padding: 0 1rem;
}

.featured-info {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-weight: 500;
}

.created {
  margin-top: 0;
  margin-bottom: 0;
}

.r {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 2.75rem;
  width: 100%;
  max-width: 50ch;
}

.row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.grid-layout {
  display: grid;
  grid: 15rem 80ch 1fr/auto-flow;
}

.side-nav {
  display: flex;
  flex-direction: column;
}

.side-menu {
  flex-wrap: wrap;
}

.top-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}
.top-level .github-star {
  fill: #333;
  padding-right: 0.3rem;
  padding-bottom: 0.15rem;
  width: 22px;
  height: 22px;
}
.top-level .github-star:hover span {
  color: #1836AF;
}
.top-level a {
  color: #333;
}
.top-level a span {
  color: #212121;
  margin-bottom: 2px;
}
.top-level a:hover {
  text-decoration: none;
}
.top-level a:hover .github-star {
  fill: #1836AF;
}
.top-level a:hover span {
  color: #1836AF;
}
.top-level a:hover .stars .star-row:hover span {
  color: #1836AF;
  text-decoration: none;
}
.top-level .stars {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.top-level .stars .star-row {
  display: flex;
  align-items: center;
}

.support .hide-cube {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hide {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (max-width: 1250px) {
  .nav-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-wrapper .nav-home,
.nav-wrapper .nav-menu {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (max-width: 1155px) {
  .hero-section {
    border-radius: 0;
  }
}
@media screen and (max-width: 1080px) {
  html, body {
    font-size: 15.75px;
    /* change the parent element font size for em/rem sizings */
  }
}
@media screen and (max-width: 1050px) {
  #post,
.post-header,
.post-wrap,
.prev-next,
.share,
.related {
    margin-left: auto;
    margin-right: auto;
  }

  .post-header {
    grid-column: 1/3;
    grid-row: 1;
    width: 100%;
  }

  .toc .unfold-toc {
    display: block;
  }

  .post-header .post-wrap {
    padding: 0;
  }

  #post {
    grid-column: 1/3;
    width: 100%;
  }

  .post-sidebar {
    grid-column: 1/3;
    grid-row: 2;
    max-width: 80ch;
    margin: 0 auto 1.25rem;
    padding: 8px 0;
    width: 100%;
    height: 100%;
    position: static;
  }
  .post-sidebar ul li a {
    color: #2540AD;
  }

  .toc {
    position: relative;
  }
  .toc ul {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    display: block;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .share, .related, .prev-next {
    grid-column: 1/3;
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 1000px) {
  #post-content .right-sidebar {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    display: block;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  #main-about {
    margin-left: 0;
    padding-right: 1.5rem;
  }
  #main-about section {
    max-width: 100%;
  }
}
@media screen and (max-width: 985px) {
  .right-sidebar {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    display: block;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .main-container .welcome-container {
    max-width: 100%;
    max-width: 100%;
    margin-left: initial;
    margin-bottom: 2.5rem;
  }

  .hero-section {
    flex-direction: column;
    align-items: flex-start;
    overflow: visible;
    border-bottom: 1.5px solid #212121;
    margin-bottom: 3.5rem;
  }
  .hero-section .cube {
    margin-right: auto;
    margin-bottom: -0.5rem;
  }

  #main-about section, .contact-container,
.recent-posts {
    grid-column: 1/7;
  }

  .recent-posts {
    margin-left: 0;
  }

  .contact-form {
    max-width: 100%;
  }
}
@media screen and (max-width: 915px) {
  .main-container .welcome-container {
    max-width: 100%;
    margin-left: initial;
    margin-bottom: 2.5rem;
  }
  .main-container .welcome-container .home-banner p {
    max-width: 50ch;
  }

  .hide-cube {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    display: block;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .support {
    padding-top: 2rem;
    margin-bottom: 3rem;
    background: inherit;
    border-bottom: 2px solid #000;
  }
  .support .cube {
    display: block;
    -webkit-transform: perspective(1000000px) rotateX(70deg) rotateZ(-45deg) scale3d(0.7, 0.7, 0.7);
    transform: perspective(1000000px) rotateX(70deg) rotateZ(-45deg) scale3d(0.7, 0.7, 0.7);
    width: 13vw;
    height: 11vw;
    margin: 0 auto;
    overflow: auto;
    margin-top: 2.7rem;
    margin-right: 100px;
    max-width: 200px;
    --b: .3;
    clip: auto;
    clip-path: none;
  }
}
@media (max-width: 900px) {
  .featured-art .feat-art-list li {
    transform: none !important;
  }
}
@media screen and (max-width: 875px) {
  #main-about section, .contact-container,
.recent-posts {
    grid-column: 1/7;
  }

  .recent-posts {
    margin-left: 0;
  }

  .contact-form {
    max-width: 100%;
  }

  #main-about {
    padding-right: 1.5rem;
  }
}
@media screen and (max-width: 847px) {
  main .art .art-details {
    height: 100%;
  }
}
@media (max-width: 800px) {
  .featured-art .feat-art-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .featured-art .feat-art-list li {
    padding-right: 0;
  }
  .featured-art .feat-art-wrapper {
    padding: 0;
  }
  .featured-art .feat-art-wrapper h2 {
    padding-left: 1rem;
  }

  .reach-me.button {
    font-size: 0.95rem;
  }

  p, .prev-next li a, .toc .toc-link, #post pre code {
    font-size: 1.0625rem;
  }

  .hero-section .cube {
    -webkit-transform: perspective(1000000px) rotateX(70deg) rotateZ(-45deg) scale3d(0.7, 0.7, 0.7);
    transform: perspective(1000000px) rotateX(70deg) rotateZ(-45deg) scale3d(0.7, 0.7, 0.7);
  }
}
@media screen and (max-width: 750px) {
  .ft-left {
    grid-column: 1/3;
    margin: 0.5em 0;
  }

  .ft-right {
    grid-column: 1/3;
    margin: 0.5em 0 0 0;
  }

  .footer-row div:last-child {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .prev-next {
    display: flex;
    flex-direction: column;
  }
  .prev-next a:first-child {
    margin-bottom: 3rem;
  }
  .prev-next .next-post {
    margin-left: 0;
  }
}
@media (max-width: 670px) {
  .top-nav .nav-wrapper {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: auto;
  }

  .hero-section {
    margin-top: 0;
  }

  .nav-main .nav-list .nav-item a {
    padding-left: 0.5rem;
    margin-left: 0;
  }

  .top-nav .nav-wrapper .nav-menu li .first-link {
    margin-left: 0;
  }
}
@media (max-width: 635px) {
  .copyright {
    text-align: left;
  }
}
@media (max-width: 550px) {
  .footer-content .footer-flex ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .nav-wrapper {
    position: static;
    top: 0;
  }
  .nav-wrapper .nav-menu li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .nav-wrapper .nav-menu li.stl {
    margin-right: 2rem;
  }
  .nav-wrapper .nav-menu li:last-child {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    display: block;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
@media (max-width: 450px) {
  main .art {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .socials-list li {
    max-width: 100%;
    width: 100%;
  }
  .socials-list li a {
    max-width: 100%;
    margin: 0.8rem auto;
    width: 100%;
  }

  .main-container .projects .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
@media (max-width: 425px) {
  .top-nav .nav-wrapper .nav-menu li a {
    margin-left: 0;
    margin-right: 1.5rem;
  }
  .top-nav .nav-wrapper .nav-menu li a.stl {
    margin-top: 0.5rem;
  }

  .cube {
    margin-top: 1.5rem;
    display: block;
    -webkit-transform: perspective(1000000px) rotateX(70deg) rotateZ(-45deg) scale3d(0.8, 0.8, 0.8);
    transform: perspective(1000000px) rotateX(70deg) rotateZ(-45deg) scale3d(0.8, 0.8, 0.8s);
  }
}
@media screen and (max-width: 400px) {
  .nav-wrapper .nav-menu {
    flex-wrap: wrap;
  }
}
@media (max-width: 375px) {
  .nav-wrapper .nav-home {
    align-items: flex-start;
  }
  .nav-wrapper .nav-home .reach-out {
    padding: 8px 10px;
    margin-top: 1.5rem;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    display: block;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .footer-row div ul {
    flex-wrap: wrap;
  }
  .footer-row div ul li {
    margin-top: 0.5rem;
  }
  .footer-row div ul li:last-child {
    margin-left: 0;
  }
}
@media (max-width: 375px) {
  .main-container .projects .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
/* This is a bit sketchy for handling iPhone landscape mode */
@media (min-width: 321px) and (max-height: 500px) and (orientation: landscape) {
  .post h2,
.post h3,
.post h4,
.post h2 a,
.post h3 a,
.post h4 a {
    font-size: 1.7rem;
  }

  p, #post p, .preview, code, #post pre code, .post pre code,
p code, #post ol li, #post ul li, .copyright,
.related .related-posts li a, #post summary, .share .twitter-share,
.related .share {
    font-size: 1rem;
  }

  .share .twitter-share {
    font-size: 1.1rem;
  }

  .related-posts li a {
    margin: 1rem 0;
    display: block;
  }

  .post-sidebar ul li a {
    font-size: 1em;
  }

  html code {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
