<section class="featured-art" id="feat-art">
    <div class="feat-art-wrapper">
        <h2>Latest Art</h2>
        <ul class="feat-art-list">
            <!-- Todo: Fix sortRecent(arr) usage in .eleventy.js -->
            {% for drawing in art | sortRecent(art) %}
                <li>
                    <a href="/art/#{{ drawing.id }}" aria-label="{{ drawing.name }}">
                        {% respimg 
                            src=drawing.image.filename,
                            alt=drawing.image.alt,
                            widths=images.widths,
                            sizes=images.sizes,
                            inputDir=images.inputDir,
                            imgDir=images.imgDir,
                            className="featured-art-item",
                            id=images.id,
                            width=images.width,
                            height=images.height
                        %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>