<section class="posts-container">
    <div class="recent-posts">
        <h2>Recent Posts</h2>
        {% for post in collections.recentPosts %}
        <article class="post">
            <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
            <p class="date">Posted on&nbsp;<time datetime="{{ post.data.datetime | date('YYYY-MM-DD') }}">
            {{ post.data.datetime | date('MMMM DD, YYYY') }}</time>&nbsp;&bull; tagged with&nbsp;
            {% for tag in post.data.tags %}<a class="post-tag {% if tag == 'c++' %}cpp{% else %}{{ tag }}{% endif %}" href="/writing?filter={{ tag }}">{{ tag }}</a>{% endfor %}</p>
            <p class="preview">{{ post.data.preview }}</p>
        </article>
        {% endfor %}
        <div style="margin-top: 1.75rem;">
            <a class="see-more" style="font-size: 17px; text-decoration: underline;" href="/writing/">See more posts &RightArrow;</a>
        </div>
    </div>
    {% include "sidebar.njk" %}
</section>