{% set myTags = tags %}
{% set posts = collections.posts %}

<div class="related">
    <strong>Related Posts</strong>
    {% relatedPosts 
        arr=posts,
        tagsArr=myTags,
        currPage=title
    %}
</div>