<section class="projects">
    <div class="projects-wrapper">
        <h2 class="section-title">Featured Projects</h2>
        <ul class="project-grid">
            {% for repo in github %}
            <li class="project-tile">
                <div class="project-details">
                    <div class="top-level">
                        <h3><a href="{{ repo.homepage or repo.repo_url }}">{{ repo.title }}</a></h3>
                        <div class="stars">
                            <a class="star-row" href="{{ repo.stargazers_url }}">
                                {% include "star-icon.svg" %}
                                <span>{{ repo.stargazers }}</span>
                            </a>
                        </div>
                    </div>
                    <p class="project-desc">{{ repo.desc }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>