<section class="contact">
    <div class="contact-wrapper">
        <h2>Contact Me</h2>
        <p>I'm always interested in having a chat about software development. If you think my skills would align with your projects needs, I'd love to hear from you. I'm available at any of the social links below or by navigating to my <a href="/contact/">contact page</a>.</p>
        <ul class="socials-list">
            <li>
                <a class="github-block" href="{{ site.page_info.socials.github }}">
                    <img width="18" height="18" src="/images/githubLight.svg" alt="Github logo">
                    Github
                </a>
            </li>
            <li>
                <a class="twitter-block" href="{{ site.page_info.socials.twitter }}">
                    <img width="18" height="18" src="/images/twitterLight.svg" alt="Link to my Twitter">
                    Twitter
                </a>
            </li>
            <li>
                <a class="linkedin-block" href="{{ site.page_info.socials.linkedin }}">
                    <img width="18" height="18" src="/images/linkedinLight.svg" alt="Link to my LinkedIn">
                    LinkedIn
                </a>
            </li>
        </ul>
    </div>
</section>