<nav id="navigation" class="top-nav">
    <a href="/" class="home"><span class="initials">{{ site.page_info.initials }}</span></a>
    <div id="navigation" class="nav-wrapper" aria-label="main nav menu">
        <ul class="nav-menu">
            <li class="nav-item">
                <a class="first-link" href="/about/">About</a>
            </li>
            <li class="nav-item">
                <a href="/writing/">Writing</a>
            </li>
                <li class="nav-item">
                <a href="/fun/">Fun</a>
            </li>
            <li class="nav-item">
                <a href="/contact/">Contact</a>
            </li>
            <li class="nav-item">
                <a href="/search/">Search</a>
            </li>
        </ul>
    </div>
</nav>