<div class="right-sidebar">
    <input class="side-search" type="text" name="Search box" placeholder="Search">
    <h4>Other Posts</h4>
    <ul>
    {% for item in popular %}
        <li><a href="/writing/{{ item | slug }}">{{ item }}</a></li>
    {% endfor %}
    </ul>
    <h4>Around the Web</h4>
    <div class="around-web">
        <ul>
            {% for link in socials %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>