---
title: Testing Foo page
---

<body>
    <h1>{{ title }}</h1>
    
    <h3>Hello world</h3>
    <p>bla</p>

    <h3>Another Heading</h3>
    <p>bla bla bla</p>

    <h3>9Hey World</h3>
    <p>bla bla</p>

    <h3>Duplicate heading</h3>
    <p>bla bla</p>
</body>
