<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="The 404 error page. When someone uses/shares a broken or mistyped link provide a 404 page to help redirect users back to my site.">
        {% set css %}
            {% include "css/style.css" %}
        {% endset %}
        <style lang="css">
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body class="four-oh-four">
        {{ content | safe }}
    </body>
</html>