<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="The 404 error page. When someone uses/shares a broken or mistyped link provide a 404 page to help redirect users back to my site.">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
            {% include "css/reset.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body class="four-oh-four">
        <header class="top-nav" style="margin: 0;">
            <nav class="nav-wrapper" aria-label="main nav menu" style="padding: 0;">
                <ul class="nav-home">
                    <li><a href="/" class="home"><span class="initials">{{ site.page_info.initials }}</span>Tanner Dolby</a></li>
                </ul>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a class="first-link" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/writing/">Writing</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact/">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="/art/">Art</a>
                    </li>
                    <li>
                        <a href="/search/">Search</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="ffr-content">
            {{ content | safe }}
        </div>
    </body>
    {% include "footer.njk" %}
</html>