---
layout: base.njk
pageId: main-about
---
<div id="main-about">
    <header class="banner-container about-header">
        <h1>{{ title }}</h1>
    </header>
    <main>
        {{ content | safe }}
    </main>
    {% include "components/sidebar.njk" %}
</div>