<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page_name }}</title>
        <meta name="author" content="Tanner Dolby">
        <meta name="description" content="{{ site.doc_metadata.art }}">
        <meta name="keywords" content="css-art, {{ site.doc_metadata.keywords }}">
        <!-- Twitter Metadata -->
        <meta name="twitter:card" content="{{ site.doc_metadata.twitter.card }}">
        <meta name="twitter:title" content="Art - {{ site.doc_metadata.twitter.title }}">
        <meta name="twitter:creator" content="{{ site.doc_metadata.twitter.creator }}">
        <meta name="twitter:site" content="{{ site.doc_metadata.twitter.site }}">
        <meta name="twitter:desc" content="{{ site.doc_metadata.twitter.desc }}">
        <meta name="twitter:image" content="{{ site.doc_metadata.twitter.image }} ">
        <!-- OpenGraph Metadata -->
        <meta name="og:title" content="Art - {{ site.doc_metadata.open_graph.title }}">
        <meta name="og:type" content="{{ site.doc_metadata.open_graph.type }}">
        <meta name="og:url" content="{{ page.url }}">
        <meta name="og:img" content="{{ site.doc_metadata.open_graph.image }}">
        <meta name="og:description" content="{{ site.doc_metadata.open_graph.description }}">
        <link rel="canonical" href="{{ page.url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
        <a href="#main-art" class="skip-link">Skip to main content</a>
        {% include "layouts/nav.njk" %}
        <main class="main-container" id="main-art">
            <header class="banner-container">
                <h1 class="h1">{{ title }}</h1>
                {{ content | safe }}
            </header>
            <section class="art">
            {% for drawing in art %}
                <div class="art-details">
                    <a href="{{ drawing.url }}" aria-label="{{ drawing.aria_label }}">
                        <picture>
                            <source 
                                type="image/webp"
                                srcset="{{ drawing.image.large.webp }} {{ drawing.image.large.width }},
                                        {{ drawing.image.med.webp }} {{ drawing.image.med.width }},
                                        {{ drawing.image.small.webp }} {{ drawing.image.small.width }}"
                                sizes="(min-width: 450px) 33.3vw, 100vw">
                            <img 
                                id="{{ drawing.id }}"
                                src="{{ drawing.image.fallback_src }}" 
                                alt="{{ drawing.image.alt }}"
                                loading="lazy"
                                width="1024"
                                height="640">
                        </picture>
                    </a>
                    <div class="drawing-info">
                        <h2 class="h2-5 featured-info">{{ drawing.name }}</h2>
                        <p class="created">{{ drawing.date_created }} - <a href="{{ drawing.credit }}" aria-label="Link to photo credit for {{ drawing.name }}">Photo Credit</a></p>
                        {# <p>{{ drawing.desc }}</p> #}
                    </div>
                </div>
            {% endfor %}
            </section>
        </main>
        {% include "layouts/footer.njk" %}
    </body>
</html>