<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page_name }}</title>
        <meta name="description" content="A small collection of the CSS artwork I've created over the last few months.
            I'm looking into drawing with a stylus on iPad to play around with SVG illustrations in the future. These illustrations are quite fun and also bring me alot of joy.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
        <a href="#main-art" class="skip-link">Skip to main content</a>
        {% include "layouts/nav.njk" %}
        <main class="main-container" id="main-art">
            <header class="banner-container">
                <h1 class="h1">{{ title }}</h1>
                {{ content | safe }}
            </header>
            <section class="art">
            {% for drawing in art %}
                <div class="art-details">
                    <a href="{{ drawing.url }}" aria-label="{{ drawing.aria_label }}">
                        <picture>
                            <source 
                                type="image/webp"
                                srcset="{{ drawing.image.large.webp }} {{ drawing.image.large.width }},
                                        {{ drawing.image.med.webp }} {{ drawing.image.med.width }},
                                        {{ drawing.image.small.webp }} {{ drawing.image.small.width }}"
                                sizes="(min-width: 450px) 33.3vw, 100vw">
                            <img 
                                id="{{ drawing.id }}"
                                src="{{ drawing.image.fallback_src }}" 
                                alt="{{ drawing.image.alt }}"
                                loading="lazy"
                                width="1024"
                                height="640">
                        </picture>
                    </a>
                    <div class="drawing-info">
                        <h2 class="h2-5 featured-info">{{ drawing.name }}</h2>
                        <p class="created">{{ drawing.date_created }} - <a href="{{ drawing.credit }}" aria-label="Link to photo credit for {{ drawing.name }}">Photo Credit</a></p>
                        {# <p>{{ drawing.desc }}</p> #}
                    </div>
                </div>
            {% endfor %}
            </section>
        </main>
        {% include "layouts/footer.njk" %}
    </body>
</html>