<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        {% metagen 
            title="Tanner Dolby's Website",
            desc="Tanner Dolby is a software engineer and mathematician.",
            url="https://tannerdolby.com",
            img="https://tannerdolby.com/images/arch-spiral-large.jpg",
            img_alt="An Archimedean Spiral.",
            twitter_card_type="summary_large_image",
            twitter_handle="tannerdolby",
            name="Tanner Dolby"
        %}
        <meta name="keywords" content="{{ site.doc_metadata.keywords }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
        {% endset %}
        <style>
           {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
        <a href="#main" class="skip-link">Skip to main content</a>
        {% include "layouts/nav.njk" %}
        <main class="main-container" id="main" tabindex="-1">
            {{ content | safe }}
            <section class="posts-container" style="max-width: 1000px; margin: 3rem auto; padding: .5rem 1rem;">
                <div class="recent-posts">
                    <h2>Recent Posts</h2>
                    {% for post in collections.recentPosts %}
                    <article class="post">
                        <h3 style="margin-bottom: .5rem;"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
                        <p class="date">Posted on&nbsp;<time datetime="{{ post.data.datetime | date('YYYY-MM-DD') }}">{{ post.data.datetime | date('MMMM DD, YYYY') }}</time>&nbsp;&bull; tagged with&nbsp;{% for tag in post.data.tags %}<a style="margin-right: .35rem;" href="/writing?filter={{ tag }}">#{{ tag }}</a>{% endfor %}</p>
                        <p class="preview">{{ post.data.preview }}</p>
                    </article>
                    {% endfor %}
                    <div style="margin-top: 1.75rem;">
                        <a class="see-more" style="font-size: 17px; text-decoration: underline;" href="/writing/">See more posts &RightArrow;</a>
                    </div>
                </div>
                
            </section>
            {% include "layouts/projects.njk" %}
            <section class="featured-art" id="feat-art">
                <div class="feat-art-wrapper">
                    <h2>Latest Art</h2>
                    <ul class="feat-art-list" style="padding-left: 0; list-style: none;">
                        {% for drawing in art %}
                            {% if drawing.recent %}
                            <li>
                                <a href="/art/#{{ drawing.id }}" aria-label="{{ drawing.name }}">
                                    <picture>
                                        <source 
                                            type="image/webp" 
                                            srcset="{{ drawing.image.large.webp }} {{ drawing.image.large.width }},
                                                    {{ drawing.image.med.webp }} {{ drawing.image.med.width }},
                                                    {{ drawing.image.small.webp }} {{ drawing.image.small.width }}"
                                            sizes="(min-width: 450px) 33.3vw, 100vw">
                                        <img src="{{ drawing.image.fallback_src }}" alt="{{ drawing.image.alt }}" loading="lazy" width="640" height="400">
                                    </picture>
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section class="contact" id="contact-me">
                <div class="contact-wrapper">
                    <h2>Contact Me</h2>
                    <p>I'm always interested in having a chat about software development. If you think my skills would align with your projects needs, I'd love to hear from you. I'm available at any of the social links below or by navigating to my <a href="/contact/">contact page</a>.</p>
                    <ul class="socials-list">
                        <li>
                            <a class="github-block" href="{{ site.page_info.socials.github }}">
                                <img width="18" height="18" src="/images/githubLight.svg" alt="Github logo">
                                Github
                            </a>
                        </li>
                        <li>
                            <a class="twitter-block" href="{{ site.page_info.socials.twitter }}">
                                <img width="18" height="18" src="/images/twitterLight.svg" alt="Link to my Twitter">
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a class="linkedin-block" href="{{ site.page_info.socials.linkedin }}">
                                <img width="18" height="18" src="/images/linkedinLight.svg" alt="Link to my LinkedIn">
                                LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        {% include "layouts/footer.njk" %}
    </body>
</html>