<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page_name }}</title>
        <meta name="description" 
            content="Hello! Welcome to the home of Tanner Dolby's personal website. This site is built with the Static Site Generator 11ty. 
            I've had so much fun self teaching myself web development and want to continue sharing about my journey with tech.">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
            {% include "css/speedlify-score.css" %}
        {% endset %}
        <style>
           {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
        <a href="#main" class="skip-link">Skip to main content</a>
        {% include "layouts/nav.njk" %}
        <main class="main-container" id="main" tabindex="-1">
            {{ content | safe }}
            <section class="recent-posts" id="recent-posts-home" style="margin-top: 2rem;">
                <div class="rp-container">
                    <h2>Recent Posts</h2>
                    {% for post in collections.posts | reverse %}
                    <article class="post">
                        <h3 style="margin-bottom: .5rem;"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
                        <p class="date" style="font-size: 16px; margin-top: .5rem;">Posted on <time datetime="{{ post.data.datetime | date('YYYY-MM-DD') }}">{{ post.data.datetime | date('MMMM DD, YYYY') }}</time></p>
                        <p class="preview">{{ post.data.preview }}</p>
                    </article>
                    {% endfor %}
                    <a class="see-more" style="font-size: 17px; text-decoration: underline;" href="/writing/">See more posts &RightArrow;</a>
                </div>
            </section>
            {% include "layouts/projects.njk" %}
            <section class="featured-art" id="feat-art">
                <div class="feat-art-wrapper">
                    <h2 style="color: #333; margin-bottom: 2.5rem;">Latest Art</h2>
                    <ul class="feat-art-list" style="padding-left: 0; list-style: none;">
                        {% for drawing in featuredArt %}
                            <li>
                                <a href="/art/#{{ drawing.id }}" aria-label="{{ drawing.name }}">
                                    <picture>
                                        <source 
                                            type="image/webp" 
                                            srcset="{{ drawing.image.large.webp }} {{ drawing.image.large.width }},
                                                    {{ drawing.image.med.webp }} {{ drawing.image.med.width }},
                                                    {{ drawing.image.small.webp }} {{ drawing.image.small.width }}"
                                            sizes="(min-width: 450px) 33.3vw, 100vw">
                                        <img src="{{ drawing.image.fallback_src }}" alt="{{ drawing.image.alt }}" loading="lazy">
                                    </picture>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section class="contact" id="contact-me">
                <div class="contact-wrapper">
                    <h2>Contact Me</h2>
                    <p>I'm always interested in having a chat about web development. If you think my skills would align with your projects needs, I'd love to hear from you. I'm available at any of the social links below or by <a href="mailto:dolb.tanner@gmail.com">sending me an email</a>.</p>
                    <ul class="socials-list">
                        <li>
                            <a class="github-block" href="{{ site.page_info.socials.github }}">
                                <img width="18" height="18" src="/images/githubLight.svg" alt="Github logo">
                                Github
                            </a>
                        </li>
                        <li>
                            <a class="twitter-block" href="{{ site.page_info.socials.twitter }}">
                                <img width="18" height="18" src="/images/twitterLight.svg" alt="Link to my Twitter">
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a class="linkedin-block" href="{{ site.page_info.socials.linkedin }}">
                                <img width="18" height="18" src="/images/linkedinLight.svg" alt="Link to my LinkedIn">
                                LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        {% include "layouts/footer.njk" %}
    </body>
</html>