<div class="cube hide-cube">
    <div class="cube front face"></div>
    <div class="cube back face"></div>
    <div class="cube right face"></div>
    <div class="cube left face"></div>
    <div class="cube top face"></div>
    <div class="cube bottom face"></div>
    <div class="cube-two">
        <div class="cube-two front face"></div>
        <div class="cube-two back face"></div>
        <div class="cube-two right face"></div>
        <div class="cube-two left face"></div>
        <div class="cube-two top face"></div>
        <div class="cube-two bottom face"></div>
    </div>
    <div class="cube-three">
      <div class="cube-three front face"></div>
      <div class="cube-three back face"></div>
      <div class="cube-three right face"></div>
      <div class="cube-three left face"></div>
      <div class="cube-three top face"></div>
      <div class="cube-three bottom face"></div>
    </div>
    <div class="cube-four">
      <div class="cube-four front face"></div>
      <div class="cube-four back face"></div>
      <div class="cube-four right face"></div>
      <div class="cube-four left face"></div>
      <div class="cube-four top face"></div>
      <div class="cube-four bottom face"></div>
  </div>
  <div class="cube-five">
      <div class="cube-five front face"></div>
      <div class="cube-five back face"></div>
      <div class="cube-five right face"></div>
      <div class="cube-five left face"></div>
      <div class="cube-five top face"></div>
      <div class="cube-five bottom face"></div>
  </div>
  <div class="cube-six">
      <div class="cube-six front face"></div>
      <div class="cube-six back face"></div>
      <div class="cube-six right face"></div>
      <div class="cube-six left face"></div>
      <div class="cube-six top face"></div>
      <div class="cube-six bottom face"></div>
  </div>
  <div class="cube-seven">
      <div class="cube-seven front face"></div>
      <div class="cube-seven back face"></div>
      <div class="cube-seven right face"></div>
      <div class="cube-seven left face"></div>
      <div class="cube-seven top face"></div>
      <div class="cube-seven bottom face"></div>
  </div>
  <div class="cube-eight">
      <div class="cube-eight front face"></div>
      <div class="cube-eight back face"></div>
      <div class="cube-eight right face"></div>
      <div class="cube-eight left face"></div>
      <div class="cube-eight top face"></div>
      <div class="cube-eight bottom face"></div>
  </div>
</div>