---
permalink: "feed.xml"
metadata:
  title: Tanner Dolby's blog about web development and technology.
  subtitle: I mostly write about front-end web development, but sometimes I'll write about other cool stuff too.
  url: https://tannerdolby.netlify.app
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <description>{{ metadata.subtitle }}</description>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ metadata.url }}/feed.xml" rel="self" type="application/rss+xml" />
    {% for post in collections.posts %}
      <item>
        <title>{{ post.data.title }}</title>
        <description>{{ post.templateContent }}</description>
        <pubDate>{{ post.date | rssDate }}</pubDate>
        <link>{{ site.url }}{{ post.url }}</link>
        <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      </item>
    {% endfor %}
  </channel>
</rss>