<footer class="footer-main">
    <div class="footer-content">
        <div class="footer-nav">
            <nav class="footer-flex">
                <ul style="margin-bottom: .5rem;">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/writing/">Writing</a></li>
                    <li><a href="/art/">Art</a></li>
                    <li class="edit-page"><a href="https://github.com/tannerdolby/tannerdolby.com/blob/master/{{ page.inputPath }}">Edit this page</a></li>
                </ul>
            </nav>
            <ul style="list-style: none; padding-left: 0; margin-bottom: .5rem;" class="footer-links">
                <li>
                    <a class="social-link twitter" href="https://github.com/tannerdolby">
                        <img src="/images/github.svg" alt="Link to my Github" loading="lazy">
                    </a>
                </li>
                <li>
                    <a class="social-link twitter" href="https://twitter.com/tannerdolby">
                        <img src="/images/twitter.svg" alt="Link to my Twitter" loading="lazy">
                    </a>
                </li>
                <li>
                    <a class="social-link twitter" href="https://codepen.io/tannerdolby">
                        <img src="/images/codepen-logo.svg" alt="Link to my CodePen" loading="lazy">
                    </a>
                </li>
                <li>
                    <a class="social-link twitter" href="https://www.linkedin.com/in/tanner-dolby/">
                        <img src="/images/linkedinFooter.svg" alt="Link to my CodePen" loading="lazy">
                    </a> 
                </li>
            </ul>
        </div>
        <div class="footer-flex">
            <p style="font-size: 16px;">&copy; 2020 Tanner Dolby. Powered by <a style="text-decoration: underline;" href="https://11ty.dev">Eleventy</a> and <a style="text-decoration: underline;" href="https://www.netlify.com/">Netlify</a></p>
            <!-- Speedlify component -->
        </div>
    </div>
</footer>