<footer class="footer-main" style="margin-top: auto">
    <div class="footer-content">
        <div class="footer-nav">
            <nav class="footer-flex">
                <ul style="margin-bottom: .5rem;">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/writing/">Writing</a></li>
                    <li><a href="/art/">Art</a></li>
                    <li class="edit-page"><a href="https://github.com/tannerdolby/tannerdolby.com/blob/master/{{ page.inputPath }}">Edit this page</a></li>
                </ul>
            </nav>
            <ul style="list-style: none; padding-left: 0; margin-bottom: .5rem;" class="footer-links">
                {% for link in footerIcons %}
                    <li>
                        <a class="social-link" href="{{ link.url }}">
                            <img src="{{ link.src }}" alt="{{ link.alt }}" width="23" height="23" loading="lazy">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer-flex">
            <p style="font-size: 16px;">&copy; 2020 Tanner Dolby. Powered by <a href="https://11ty.dev">Eleventy</a> and <a href="https://www.netlify.com/">Netlify</a>.</p>
        </div>
    </div>
</footer>