<header class="welcome-container">
    <div class="home-banner">
        <h1>Hi, I'm {{ site.page_info.name }}.</h1>
        <p>I'm a front-end developer, designer, and mathematician. I enjoy building things for the web that are accessible and performant.</p>
        <a class="reach-me button" href="mailto:{{ site.page_info.email }}">Work with me</a>
        <!-- <p>This website currently acts as my little pocket of the internet where I share my thoughts, mainly about front-end development, accessibility and the power of SSG's.</p> -->
    </div>
</header>