---
layout: base.njk
pageId: main
---

<header class="hero-section">
    {{ content | safe }}
    {% include "components/cube-demo.html" %}
</header>

<main>
{% include "components/recent-posts.njk" %}
{% include "components/featured-projects.njk" %}
{% include "components/latest-art.njk" %}
{% include "components/homepage-contact.njk" %}
</main>