---
layout: base.njk
pageId: main
---

<div class="hero-section">
    {{ content | safe }}
    {% include "components/cube-demo.html" %}
</div>

{% include "components/recent-posts.njk" %}
{% include "components/featured-projects.njk" %}
{% include "components/latest-art.njk" %}
{% include "components/homepage-contact.njk" %}