<header class="top-nav">
    <nav class="nav-wrapper" aria-label="main nav menu">
        <ul class="nav-home">
            <li><a href="/" class="home"><span class="initials">{{ site.page_info.initials }}</span>Tanner Dolby</a></li>
        </ul>
        <ul class="nav-menu">
            <li class="nav-item">
                <a class="first-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a href="/about/">About</a>
            </li>
            <li class="nav-item">
                <a href="/writing/">Writing</a>
            </li>
            <li class="nav-item">
                <a href="/art/">Art</a>
            </li>
            <li class="nav-item">
                <a href="https://codepen.io/tannerdolby">CodePen</a>
            </li>
        </ul>
    </nav>
</header>