<header class="top-nav">
    <nav class="nav-wrapper" aria-label="main nav menu">
        <ul class="nav-home">
            <li><a href="/" class="home"><span class="initials">{{ site.page_info.initials }}</span>Tanner Dolby</a></li>
        </ul>
        <ul class="nav-menu">
            <li class="nav-item">
                <a class="first-link" href="/about/">about</a>
            </li>
            <li class="nav-item">
                <a href="/writing/">writing</a>
            </li>
            <li class="nav-item">
                <a href="/contact/">contact</a>
            </li>
            <li class="nav-item">
                <a href="/art/">art</a>
            </li>
            <li>
                <a href="/search/">search</a>
            </li>
        </ul>
    </nav>
</header>