<!-- Credit to Eleventy for Asian Americans Advancing Justice banner - https://11ty.dev -->
<div class="pop-over">
    <div class="content">
        <a href="https://www.standagainsthatred.org/">Asian Americans Advancing Justice - Help Track Hate</a>
        <button class="close">x</button>
    </div>
</div>