<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        {% metagen 
            img="https://tannerdolby.com/images/arch-spiral-large.jpg",
            img_alt="An Archimedean Spiral",
            twitterHandle="@tannerdolby",
            name="Tanner Dolby"
        %}
        <title>{{ title }}</title>
        <meta name="description" content="{{ title }}">
        <meta name="keywords" content="{{ site.doc_metadata.keywords }}">
        <meta name="twitter:desc" content="{{ title }}">
        <meta name="og:url" content="https://tannerdolby.com{{ page.url }}">
        <meta name="og:description" content="{{ title }}">
        <link rel="canonical" href="https://tannerdolby.com{{ page.url }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
            {% include "css/prism.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
        <a href="#post-content" class="skip-link">Skip to main content</a>
        {% include "layouts/nav.njk" %}
        <main class="main-container" id="post-content">
            <div class="main-content">
                <header class="post-header">
                    <div class="post-wrap">
                        <h1 style="margin-top: .25rem;" class="h1" id="post-title">{{ title }}</h1>
                        <p class="date">Posted on&nbsp;<time style="margin-bottom: 0;" datetime="{{ datetime | date('YYYY-MM-DD') }}">{{ datetime | date('MMMM DD, YYYY') }}</time>&nbsp;&bull; tagged with&nbsp;{% for tag in tags %}<a href="/writing?filter={{ tag }}" aria-label="Link to {{ tag }} posts" style="margin-right: .35rem;">#{{ tag }}</a>{% endfor %}</p>
                    </div>
                </header>
                <div id="post">
                    {{ content | safe }}
                </div>
                {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
                {% set nextPost = collections.posts | getNextCollectionItem(page) %}
                <ul class="prev-next">
                    <li>
                        {% if previousPost %}
                        <h3 style="margin-bottom: .75rem;">Previous</h3>
                        <a href="{{ previousPost.url }}">&LeftArrow; {{ previousPost.data.title }}</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if nextPost %}
                        <h3 style="margin-bottom: .75rem;">Next</h3>
                        <a href="{{ nextPost.url }}">{{ nextPost.data.title }} &RightArrow;</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </main>
        {% include "layouts/footer.njk" %}
        
        {% set js %}
            {% include "js/ios-touch.js" %}
            {% include "js/focus-blocks.js" %}
            {% include "js/heading-highlight.js" %}
            {% include "js/toc.js" %}
        {% endset %}
        <script>
            {{ js | jsmin | safe }}
        </script>
    </body>
</html>