<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <meta name="author" content="Tanner Dolby">
        <meta name="description" content="{{ site.doc_metadata.home }}">
        <meta name="keywords" content="{{ site.doc_metadata.keywords }}">
        <!-- Twitter Metadata -->
        <meta name="twitter:card" content="{{ site.doc_metadata.twitter.card }}">
        <meta name="twitter:title" content="Article - {{ site.doc_metadata.twitter.title }}">
        <meta name="twitter:creator" content="{{ site.doc_metadata.twitter.creator }}">
        <meta name="twitter:site" content="{{ site.doc_metadata.twitter.site }}">
        <meta name="twitter:desc" content="{{ site.doc_metadata.twitter.desc }}">
        <meta name="twitter:image" content="{{ site.doc_metadata.twitter.image }} ">
        <!-- OpenGraph Metadata -->
        <meta name="og:title" content="Article - {{ site.doc_metadata.open_graph.title }}">
        <meta name="og:type" content="{{ site.doc_metadata.open_graph.type }}">
        <meta name="og:url" content="{{ page.url }}">
        <meta name="og:img" content="{{ site.doc_metadata.open_graph.image }}">
        <meta name="og:description" content="{{ site.doc_metadata.open_graph.description }}">
        <link rel="canonical" href="https://tannerdolby.netlify.app{{ page.url }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
            {% include "css/prism.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
        <a href="#post-content" class="skip-link">Skip to main content</a>
        {% include "layouts/nav.njk" %}
        <main class="main-container" id="post-content" style="max-width: 80ch; margin: 0 auto 4rem auto;">
            <div class="post-sidebar">
                <p>Some text</p>
            </div>
            <div id="post" class="main-content">
                <h1 style="margin-top: .25rem;" class="h1" id="post-title">{{ title }}</h1>
                <p class="date">Posted on&nbsp;<time style="margin-bottom: 0;" datetime="{{ datetime | date('YYYY-MM-DD') }}">{{ datetime | date('MMMM DD, YYYY') }}</time>&nbsp;&bull; tagged with&nbsp;{% for tag in tags %}<a href="/writing?filter={{ tag }}" aria-label="Link to {{ tag }} posts" style="margin-right: .35rem;">#{{ tag }}</a>{% endfor %}</p>
                {{ content | safe }}

                {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
                {% set nextPost = collections.posts | getNextCollectionItem(page) %}
                <ul style="padding-left: 0; list-style: none; margin-top: 3rem;">
                    <li>
                        {% if previousPost %}
                        <h3 style="margin-bottom: .75rem;">Previous</h3>
                        <a href="{{ previousPost.url }}">&LeftArrow; {{ previousPost.data.title }}</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if nextPost %}
                        <h3 style="margin-bottom: .75rem;">Next</h3>
                        <a href="{{ nextPost.url }}">{{ nextPost.data.title }} &RightArrow;</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </main>
        {% include "layouts/footer.njk" %}
        
        {% set js %}
            {% include "js/ios-touch.js" %}
            {% include "js/focus-blocks.js" %}
            {% include "js/heading-highlight.js" %}
        {% endset %}
        <script>
            {{ js | jsmin | safe }}
        </script>
    </body>
</html>