<section class="projects" id="my-projects">
    <div class="projects-wrapper">
        <h2 class="section-title">Featured Projects</h2>
        <ul class="project-grid">
        {% for project in projects %}
            <li class="project-tile">
                <div class="project-details">
                    <h3 class="h2-5"><a href="{{ project.url }}">{{ project.name }}</a></h3>
                    <p style="margin-top: .5rem; margin-bottom: .5rem;">{{ project.description }}</p>
                    <ul class="links">
                        <li><a class="tile-link" href="{{ project.url }}" aria-label="View the live demo for {{ project.name }}">Live demo</a></li>
                        <li><a class="tile-link" href="{{ project.source_url }}" aria-label="View the source code for {{ project.name }}">Source code</a></li>
                    </ul>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</section>