---
pagination:
  data: taglist
  size: 1
  alias: item
taglist:
    - javascript
    - eleventy
    - html
    - nunjucks
    - security
    - shell
permalink: "writing/tags/{{item | slug}}/"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    {% set css %}
        {% include "css/style.css" %}
        {% include "css/prism.css" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>
</head>
<body style="min-height: 100vh; display: flex; flex-direction: column;">
    <header class="top-nav" style="margin: 0;">
        <nav class="nav-wrapper">
            <ul class="nav-home">
                <li><a href="/" class="home" style="font-size: 18px;"><span class="initials">{{ site.page_info.initials }}</span>Tanner Dolby</a></li>
            </ul>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a style="margin-left: .25rem;" class="{{ 'active' if '/about/' in page.url }}" href="/about/">About</a>
                </li>
                <li class="nav-item">
                    <a href="/writing/" class="{{ 'active' if '/writing/' in page.url }}">Writing</a>
                </li>
                <li class="nav-item">
                    <a href="/art/" class="{{ 'active' if '/art/' in page.url }}">Art</a>
                </li>
                <li class="nav-item">
                    <a href="https://codepen.io/tannerdolby">CodePen</a>
                </li>
            </ul>
        </nav>
    </header>
    <main style="max-width: 85ch; margin: 2rem auto 3rem auto; padding: 0 1.1rem; width: 100%;">
    
    {% if 'writing/tags/web/' in page.url %}
        <h1 class="h2">Posts Tagged with: <em>{{ item }}</em></h2>
        {% for post in collections.posts %}
        <ul style="padding-left: 0; list-style: none;">
            <li class="tag-item">
                <h2 class="tagged-title h3">
                    <a style="margin-top: 1rem; margin-bottom: 1rem;" href="{{ post.url }}">{{ post.data.title }}</a>
                    <div class="tags" style="display: flex; justify-content: center;">
                    {% for tag in post.data.tags %}
                        <code style="margin-right: .75rem;">#{{ tag }}</code>
                    {% endfor %}
                    </div>
                </h2>
            </li>
        </ul>
        {% endfor %}
    {% endif %}

    {% if 'writing/tags/html/' in page.url %}
        <h1 class="h2">Posts Tagged with: <em>{{ item }}</em></h2>
        {% for post in collections.html %}
        <ul style="padding-left: 0; list-style: none;">
            <li class="tag-item">
                <h2 class="tagged-title h3">
                    <a style="margin-top: 1rem; margin-bottom: 1rem;" href="{{ post.url }}">{{ post.data.title }}</a>
                    <div class="tags" style="display: flex; justify-content: center;">
                    {% for tag in post.data.tags %}
                        <code style="margin-right: .75rem;">#{{ tag }}</code>
                    {% endfor %}
                    </div>
                </h2>
            </li>
        </ul>
        {% endfor %}
    {% endif %}

    {% if 'writing/tags/javascript/' in page.url %}
    <h1 class="h2">Posts Tagged: <em>{{ item }}</em></h1>
    {% for post in collections.javascript %}
        <ul style="padding-left: 0; list-style: none;">
            <li class="tag-item">
                <h2 class="tagged-title h3">
                    <a style="margin-top: 1rem; margin-bottom: 1rem;" href="{{ post.url }}">{{ post.data.title }}</a>
                    <div class="tags" style="display: flex; justify-content: center;">
                    {% for tag in post.data.tags %}
                        <code style="margin-right: .75rem;">#{{ tag }}</code>
                    {% endfor %}
                    </div>
                </h2>
            </li>
        </ul>
    {% endfor %}
    {% endif %}

    {% if 'writing/tags/shell/' in page.url %}
        <h1 class="h2">Posts Tagged: <em>{{ item }}</em></h1>
        {% for post in collections.shell %}
            <ul style="padding-left: 0; list-style: none;">
                <li class="tag-item">
                    <h2 class="tagged-title h3">
                        <a style="margin-top: 1rem; margin-bottom: 1rem;" href="{{ post.url }}">{{ post.data.title }}</a>
                        <div class="tags" style="display: flex; justify-content: center;">
                        {% for tag in post.data.tags %}
                            <code style="margin-right: .75rem;">#{{ tag }}</code>
                        {% endfor %}
                        </div>
                    </h2>
                </li>
            </ul>
        {% endfor %}
    {% endif %}

    {% if 'writing/tags/security/' in page.url %}
        <h1 class="h2">Posts With Tag: #{{ item }}</h1>
        {% for post in collections.security %}
            <ul style="padding-left: 0; list-style: none;">
                <li class="tag-item">
                    <h2 class="tagged-title h3">
                        <a style="margin-top: 1rem; margin-bottom: 1rem;" href="{{ post.url }}">{{ post.data.title }}</a>
                        <div class="tags" style="display: flex; justify-content: center;">
                        {% for tag in post.data.tags %}
                            <code style="margin-right: .75rem;">#{{ tag }}</code>
                        {% endfor %}
                        </div>
                    </h2>
                </li>
            </ul>
        {% endfor %}
    {% endif %}

    {% if 'writing/tags/11ty/' in page.url %}
        <h1 class="h2">Posts Tagged: <em>{{ item }}</em></h1>
        {% for post in collections.11ty %}
            <ul style="padding-left: 0; list-style: none;">
                <li class="tag-item">
                    <h2 class="tagged-title h3">
                        <a style="margin-top: 1rem; margin-bottom: 1rem;" href="{{ post.url }}">{{ post.data.title }}</a>
                        <div class="tags" style="display: flex; justify-content: center;">
                        {% for tag in post.data.tags %}
                            <code style="margin-right: .75rem;">#{{ tag }}</code>
                        {% endfor %}
                        </div>
                    </h2>
                </li>
            </ul>
        {% endfor %}
    {% endif %}

    {% if 'writing/tags/nunjucks/' in page.url %}
        <h1 class="h2">Posts Tagged With: <em>{{ item }}</em></h1>
        {% for post in collections.nunjucks %}
            <ul style="padding-left: 0; list-style: none;">
                <li class="tag-item">
                    <h2 class="tagged-title h3">
                        <a style="margin-top: 1rem; margin-bottom: 1rem;" href="{{ post.url }}">{{ post.data.title }}</a>
                        <div class="tags" style="display: flex; justify-content: center;">
                        {% for tag in post.data.tags %}
                            <code style="margin-right: .75rem;">#{{ tag }}</code>
                        {% endfor %}
                        </div>
                    </h2>
                </li>
            </ul>
        {% endfor %}
    {% endif %}
    </main>
    <footer class="footer-main" style="margin-top: auto; margin-left: 0; margin-right: 0;">
        <div class="footer-content" style="max-width: 85ch;">
            <div class="footer-nav">
                <nav class="footer-flex">
                    <ul style="margin-bottom: .5rem;">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/writing/">Writing</a></li>
                        <li><a href="/art/">Art</a></li>
                        <li class="edit-page"><a href="https://github.com/tannerdolby/tannerdolby.com/blob/master/{{ page.inputPath }}">Edit this page</a></li>
                    </ul>
                </nav>
                <ul style="list-style: none; padding-left: 0; margin-bottom: .5rem;" class="footer-links">
                    <li>
                        <a class="social-link twitter" href="https://github.com/tannerdolby">
                            <img src="/images/github.svg" alt="Link to my Github account" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a class="social-link twitter" href="https://twitter.com/tannerdolby">
                            <img src="/images/twitter.svg" alt="Link to my Twitter account" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a class="social-link twitter" href="https://codepen.io/tannerdolby">
                            <img src="/images/codepen-logo.svg" alt="Link to my CodePen account" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a class="social-link twitter" href="https://www.linkedin.com/in/tanner-dolby/">
                            <img src="/images/linkedinFooter.svg" alt="Link to my LinkedIn acount" loading="lazy">
                        </a> 
                    </li>
                </ul>
            </div>
            <div class="footer-flex">
                <p style="font-size: 16px;">&copy; 2020 Tanner Dolby. Powered by <a style="text-decoration: underline;" href="https://11ty.dev">Eleventy</a> and <a style="text-decoration: underline;" href="https://www.netlify.com/">Netlify</a></p>
            </div>
        </div>
    </footer>
</body>
</html>