---
tagList: 
    - html
    - javascript
    - 11ty
    - nunjucks
    - security
    - shell
---


<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page_name}}</title>
        <meta name="description" 
            content="Hello! Welcome to the home of my personal website built with Eleventy. I've had so much fun self teaching myself web development and want to continue sharing about my journey with tech.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
        <a href="#main-writing" class="skip-link">Skip to main content</a>
        {% include "layouts/nav.njk" %}
        <main class="main-container" id="main-writing">
            <header class="banner-container">
                <h1 class="h1" id="writing">{{ title }}</h1>
            </header>
            <div class="main-content">
                <ul class="my-posts">
                    {% for post in collections.posts | reverse %}
                    <li>
                        <article class="post" data-tags="[{{ post.data.tags | stringify }}]">
                            <h2 class="h3" style="margin-bottom: .5rem;"><a class="post-title-link" href="{{ post.url }}">{{ post.data.title }}</a></h2>
                            <p class="date" style="font-size: 16px;">Posted on <time datetime="{{ post.data.datetime | date('YYYY-MM-DD') }}">{{ post.data.datetime | date('MMMM DD, YYYY') }}</time> &bull; tagged with: {% for tag in post.data.tags %}<a class="tag" style="margin-left: .2rem; margin-right: .35rem;" href="/writing?filter={{ tag }}">#{{ tag }}</a>{% endfor %}</p>
                            <p class="preview">{{ post.data.preview }}</p>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
                <h3 style="margin-top: 3rem;">Filter Posts by Tag</h3>
                <ul class="tags-list" style="display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; padding-left: 0; list-style: none; margin: .5rem auto;">
                    <li style="display: flex; flex-wrap: wrap; align-items: center;">{% for tag in tagList %}<a class="post-label" href="/writing?filter={{ tag }}">{{ tag }}</a>{% endfor %}</li>
                </ul>
            </div>
        </main>
        {% include "layouts/footer.njk" %}
        {% set js %}
            {% include "js/filter-posts.js" %}
        {% endset %}
        <script>
            {{ js | jsmin | safe }}
        </script>
    </body>
</html>