#main-contact {
    max-width: 1200px;
    padding: 0 1.25rem;
    margin: 3rem auto 2rem auto;
    padding-bottom: 1.5rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .right-sidebar {
        margin-left: auto;
        margin-right: 0;
        margin-top: 5.1rem;
        max-width: 25ch;
        padding-right: 0;
        grid-row: 1;
        grid-column: 5 / 7;
    }
}

.contact-form {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    max-width: 60ch;

    label {
        &.form-label {
            margin-top: .5rem;
        }
    }

    input, textarea {
        margin: .2rem 0;
        border: 1px solid lightgray;
        padding: .5rem;
        border-radius: .15rem;
        font-size: 16px;
    }

    input {
        height: 2.75rem;
    }

    textarea {
        resize: vertical;
        min-height: 9rem;
    }

    button {
        margin-top: 1.5rem;
    }
}

.contact-detail {
    margin-bottom: 2.75rem;
}

.reach-me {
    &.button {
        display: block;
        margin: 0;
        width: fit-content;
        width: -moz-fit-content;
        text-decoration: none;
        font-size: 1rem;
        background: inherit;
        color: inherit;
        border-radius: 4px;
        border: 2px solid rgb(33, 42, 47);
        padding: .7rem 1.275rem;
        white-space: nowrap;
        box-shadow: 2px 2px 0 0 rgb(33, 42, 47);
        font-weight: 500;
        backface-visibility: hidden;
        transition: 150ms all ease-in-out;
        -webkit-backface-visibility: hidden;
    }

    &:hover {
        box-shadow: 0px -1px 0px -1px rgba(0, 0, 0, 0.75);
        background: #212421;
        background: #2f312f;
        background: rgb(33, 42, 47);
        border: 2px solid transparent;
        color: inherit;
        cursor: pointer;
        color: #fff;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    &.submit-contact {
        background: rgb(26, 107, 221);
        padding: .65rem 1.35rem;
        border: none;
        color: #fff;
        margin-top: 1.35rem;
        font-weight: 500;
        max-width: fit-content;
        -moz-max-width: fit-content;
        box-shadow: none;
        transition: none;

        &:hover {
            border: none;
            background: rgb(23, 100, 209);
        }
    }
}

.contact-container {
    max-width: 85ch;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 4rem;
    grid-column: 1 / 5;

    p {
        margin: revert;
    }
}

.contact {
    background: #202d3d;
    padding: 1rem 1.25rem;
    background: inherit;
    margin: 4rem auto 6rem auto;
    max-width: 1200px;
}

.contact-wrapper {
    max-width: 80ch;
    border-radius: 8px;
    padding: 1.75rem 1.25rem;
    box-shadow: 2px 2px 0 1px #222;
    border: 2px solid #222;
    margin: 2.5rem auto 1rem;

    h2 {
        margin-bottom: 1rem;
    }

    .socials-list {
        margin-top: 2.5rem;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        li {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &:nth-child(n) {
                margin-right: 1rem;
            }

            a {
                color: rgb(255, 255, 255);
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5rem .75rem;
                border-radius: .3rem;
                font-weight: 500;

                img {
                    margin-right: .5rem;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}