@use "../mixins" as *;

.nav-wrapper {
    padding: .75rem 1.25rem .5rem;

    .nav-menu {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        padding-left: 0;
        max-width: 1200px;

        li {
            &.stl {
                margin-right: auto;
            }
            a {
                color: #212121;
                padding: 4px 0;
                margin: 0 1.5rem;
                font-size: 1.0625rem;
                text-decoration: none;
                font-weight: 500;

                &:first-child {
                    margin-left: auto;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 1.25rem;
    margin: 2rem auto 1.25rem auto;
    width: 100%;
    max-width: 1200px;

    .reach-out {
        background: #212121;
        color: #fff;
        padding: 11px 10px;
        border-radius: 3px;
        font-size: 1rem;
        white-space: nowrap;
        &:hover {
            background: #111;
            text-decoration: none;
        }
    }

    .home {
        font-weight: 500;
        white-space: nowrap;
        font-size: 1.2rem;
        color: #212121;
        text-decoration: none;
    }

    .initials {
        background: inherit;
        border: 2px solid #212121;
        color: #212121;
        border-radius: 1px;
        padding: .5rem;
        font-weight: 700;
        font-size: 1.0625rem;
    }
}

@media screen and (max-width: 775px) {
    *,
    *::before,
    *::after {
        -webkit-transform-style: flat !important;
        transform-style: flat !important;
    }
    .cube {
        @include visually-hidden();
    }
    .top-nav {
        margin-top: 2.6rem;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
        padding-right: 0;

        .home {
            padding-left: 1.25rem;
        }
    }
    .welcome-container {
        margin-bottom: 0 !important;
    }
    .hero-section {
        border-bottom: 0;
        margin-bottom: 0;
    }
    .nav-wrapper {
        margin-top: 1.75rem;
        border-bottom: 1px solid lightgray;
        width: 100%;
        padding-bottom: 0;

        .nav-menu {
            padding-left: 8px;
            padding-right: 1.25rem;
            padding-left: 1.25rem;

            li {
                a {
                    padding-bottom: 10px;
                    display: block;
                    border-bottom: 2.5px solid transparent;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
