.nav-wrapper {
    padding: 1rem 1.5rem .5rem;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid lightgray;

    .nav-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0 1rem;
        margin: 1rem auto 1.5rem auto;
        width: 100%;
        max-width: 1225px;

        .reach-out {
            background: #212121;
            color: #fff;
            padding: 11px 10px;
            border-radius: 3px;
            font-size: 1rem;
            &:hover {
                background: #111;
                text-decoration: none;
            }
        }

        .home {
            font-weight: 500;
            font-size: 1.15rem;
            font-size: 1.2rem;
            color: #212121;
            text-decoration: none;
        }

        span {
            background: inherit;
            border: .12rem solid #212121;
            color: #212121;
            border-radius: 0;
            padding: .5rem;
            margin-right: .75rem;
            font-weight: 700;
            font-size: 1rem;
        }
    }

    .nav-menu {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: .8rem auto 0 auto;
        padding: 15px 1rem;
        width: 100%;
        max-width: 1225px;
        position: relative;
        overflow: hidden;

        li {
            &.stl {
                margin-right: auto;
            }
            &:last-child {
                position: relative;
                right: 0;
                margin-left: auto;
            }
            a {
                color: #212121;
                padding: .5rem 0;
                margin: 0 1.7rem;
                font-size: 1.0625rem;
                text-decoration: none;
                font-weight: 500;
                &:first-child {
                    margin-left: 0;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}