@use "../vars" as *;

/* Sidebar within post.njk template */
.post-sidebar {
    max-width: 20ch;
    width: 100%;
    grid-column: 1;
    height: 100vh;
    grid-row: 2;
    margin: 0;

    .toc-links {
        margin-top: .5rem;
        border-radius: .25rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            margin: 3px 0;

            a {
                display: block;
                color: #212121;
                padding: 5px 10px;
                line-height: 1.4;
                border-radius: 2px;

                &:hover {
                    color: $link-blue-accessible;
                    text-decoration: none;
                    background: #212121;
                    border-radius: 5px;
                    color: #fff;
                }

                &.section-active {
                    color: #f06;
                    background: #eee;
                }
            }
        }
    }
}

.toc-heading {
    font-size: 1.25em;
    padding-bottom: 5px;
    color: #333;
    margin: 0;
}

.around-web {
    margin-top: .75rem;
    ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        
        li {
            p {
                padding: 0;
                margin: .3rem 0;
            }
            a {
                color: #333;
                &:hover {
                    color: $link-blue-accessible-hover;
                    text-decoration: underline;
                }
            }
        }
    } 
}