---
layout: base.njk
pageId: main
metadata:
  title: Accessibility - tannerdolby.com
  desc: Tanner Dolby's commitment to accessibility
  url: https://tannerdolby.com/accessibility/
  img: https://tannerdolby.com/images/arch-spiral-large.jpg
  img_alt: An Archimedean Spiral
  twitter_handle: tannerdolby
  name: Tanner Dolby
  generator: eleventy
  comments: true
---

<div class="a11y-wrap">
    <header class="banner-container">
        <h1>Accessibility Statement</h1>
    </header>
    <main>
      <p>I am committed to making this websites content accessible and user friendly to everyone. If you are experiencing any accessibility issues or are having difficulty viewing or navigating the content on this website, or notice anything that you believe is not fully accessible to people with disabilities, please send an email to tannercdolby@gmail.com with the subject heading "Accessibility Concern" and a brief description of the content or feature that is in need of an accessibility improvement.</p>
      <p>I care deeply about my website being accessible and viewable for all users so please don't hesitate to reach out if you have any suggestions or notice something that needs improvements.</p>
    </main>
</div>