---
layout: base.njk
pageId: main-contact
metadata:
  title: Contact - tannerdolby.com
  desc: Contact Tanner Dolby
  url: https://tannerdolby.com/contact/
  img: https://tannerdolby.com/images/arch-spiral-large.jpg
  img_alt: An Archimedean Spiral
  twitter_handle: tannerdolby
  name: Tanner Dolby
  generator: eleventy
  comments: true
---
<main id="main-contact">
    <div class="contact-container">
        <h1>Contact Tanner</h1>
        <div class="contact-detail"> 
            <p>Thanks for stopping by. Feel free to reach out on LinkedIn, Twitter or by <a href="mailto:tannercdolby@gmail.com">sending me an email</a>. I typically take about 1-3 days to reply. Sometimes I'm not able to respond within my usual time frame. If you have contacted me and not heard back, I welcome you to email me again as a friendly reminder.
        </div>
        <form class="contact-form" onsubmit="sendMail()">
            <label for="name">What's Your Name?</label>
            <input type="text" name="name" id="name" required>
            <label class="form-label" for="subject">Subject</label>
            <input class="email-subject" type="text" name="subject" id="subject" required>
            <label class="form-label" for="message">Message</label>
            <textarea class="email-msg" rows="5" cols="30" name="message" id="message" required></textarea>
            <button type="submit" class="reach-me button submit-contact">Message me</button>
        </form>
    </div>
    {% include "components/sidebar.njk" %}
</main>