<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        {% metagen 
            title="Contact - tannerdolby.com",
            desc="Contact Tanner Dolby",
            url="https://tannerdolby.com/contact/",
            img="https://tannerdolby.com/images/arch-spiral-large.jpg",
            img_alt="An Archimedean Spiral",
            twitterHandle="@tannerdolby",
            name="Tanner Dolby"
        %}
        <meta name="keywords" content="{{ site.doc_metadata.keywords }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
        <a href="#main-contact" class="skip-link">Skip to main content</a>
        {% include "layouts/nav.njk" %}
        <main class="main-container" id="main-contact" tabindex="-1">
            <div class="wrap lg">
                <h1 style="margin-top: 0;">Contact Tanner</h1>
                <div class="contact-detail"> 
                    <p>Thanks for the interest. Feel free to reach out on social media or by sending me an email at <em>tannercdolby@gmail.com</em>. I will usually take 1-3 days to reply.</p>
                    <p>Sometimes I'm not able to respond within my usual time frame. If you have contacted me and not heard back, I welcome you to email me again as a friendly reminder.</p>
                </div>
                {# <div class="email-container">
                    <label for="sender-email">Enter your email:</label>
                    <input type="text" placeholder="Enter your email..." id="sender-email">
                    <label for="sender-message">Enter your message:</label>
                    <textarea placeholder="" id="sender-message"></textarea>
                </div> #}
                <a class="reach-me button" href="mailto:tannercdolby@gmail.com">Message me</a>
            </div>
        </main>
        {% include "layouts/footer.njk" %}
    </body>
</html>