<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>&lt;title&gt;&#58; A cool &lt;title&gt; page to test out a few things.</title>
    <meta name="description" content="A MDN SEO results test page on the website of Tanner Dolby.">
</head>
<body>
    <h1>Testing SEO results</h1>
    <p>Checking to see if using the HTML entity <code><span>&#58;</span></code> to represent a colon <code>:</code> works
        to ensure that its not recoginized as a separator in SEO results</p>
</body>
</html>