---
metadata:
  desc: A MDN SEO results test page on the website of Tanner Dolby. Testing HTML entities inside the title tag in document metadata.
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>&lt;title&gt;&colon; &colon;A cool &lt;title&gt; page to test SEO results when using HTML entities in document metadata for title tags.</title>
    <meta name="description" content="A MDN SEO results test page on the website of Tanner Dolby. Testing HTML entities inside the title tag in document metadata.">
    <meta name="google-site-verification" content="Rpv7nHkhgBbgeCrDXmU_Grrl9SQKvOP1HNmGGRrBGHE" />
</head>
<body>
    <h1>Testing SEO results</h1>
</body>
</html>